body {
    background-color: thistle;
    font-family: sans-serif;
}
table {
    border: 2px solid black;
    border-radius: 8px;
}
th {
    font-size: 150%;
    text-align: left;
    background-color: teal;
    padding: 10px;
}
td {
    text-align: left;
    background-color: teal;
    padding: 4px;}
.warning {
    color: yellowgreen;
    background-color: thistle;
    display: inline;
    padding: 8px;
    border: 2px yellow;
    border-radius: 5px;
}
